<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info"
      internalLogFile="${basedir}/temp/nlog-internal.log">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="NLog.Targets.ElasticSearch"/>
    </extensions>

    <targets>
        <target name="asyncAllfile"
                xsi:type="AsyncWrapper"
                timeToSleepBetweenBatches="0"
                overflowAction="Discard"
                batchSize="300">
            <target name="allfile"
                    xsi:type="File"
                    encoding="utf-8"
                    fileName="${basedir}/log/${shortdate}.log"
                    layout="${longdate}|${var:logId}${guid}|${level:uppercase=true}|${var:machineName}|${message}|${exception:maxInnerExceptionLevel=7}|${callsite}"
                    archiveFileName="${basedir}/log/archives/{#}.log"
                    archiveEvery="Day"
                    archiveNumbering="Date"
                    archiveDateFormat="yyyy-MM-dd"
                    concurrentWrites="true"/>
        </target>
        
        <target name="elastic"
                xsi:type="AsyncWrapper"
                timeToSleepBetweenBatches="0"
                overflowAction="Discard">
            <target xsi:type="ElasticSearch"
                    uri="http://host.docker.internal:9200"
                    index="parcorpus-${date:format=yyyy.MM.dd}"
                    includeAllProperties="true"
                    maxRecursionLimit="1"
                    requireAuth="true" username="elastic" password="password"
                    layout="${longdate}|${var:logId}${guid}|${level:uppercase=true}|${var:machineName}|${message}|${exception:maxInnerExceptionLevel=7}|${callsite}">
            </target>
        </target>

        <target name="asyncConsole" xsi:type="AsyncWrapper"
                timeToSleepBetweenBatches="0"
                overflowAction="Discard"
                batchSize="300">
            <target name="console"
                    xsi:type="Console"
                    layout="${longdate}|${var:logId}${guid}|${level:uppercase=true}|${var:machineName}|${message}|${exception:maxInnerExceptionLevel=7}|${callsite}"
            />
        </target>

    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="elastic"/>
        <logger name="*" minlevel="Info" writeTo="asyncConsole"/>
        <logger name="*" minlevel="Info" writeTo="asyncAllfile"/>
    </rules>
</nlog>